[submodule "kxg"]
	path = libs/kxg
	url = git@github.com:kxgames/GameEngine.git
[submodule "libs/glooey"]
	path = libs/glooey
	url = git@github.com:kxgames/glooey.git
[submodule "libs/vecrec"]
	path = libs/vecrec
	url = git@github.com:kxgames/vecrec.git
